<template>
<b-container id="asistencias" class="asistencia">
  <video autoplay muted loop src="../static/caravanavideo.mp4" type="video/mp4"></video>
  <div class="textocaravana">
      <h3 class="h3asistencia">ASISTENCIA</h3>
        <p>En este día tan especial, os hemos preparado muchas sorpresas y para ello necesitamos una agenda para que todo vaya sobre ruedas y no olvidarnos nada!!<br>Será una ceremonia familiar y atípica en una villa privada en Sant Andreu de Llavaneres <a href="#mapa">(Villa Valentina)</a> <br> el día 21 de Junio de 2020 <br> a las 12:00. <br>
        </p>
        <button href="#formulario" type="button" class="btn btn-warning">¡Asistiré!</button>
  </div>
  </b-container>
</template>

<style>
.h3asistencia{
  color: black
}
video{
  position: relative;
  top: 60px;
  max-width: 100%;
  left: 0%;
  z-index: 1;
  border-radius: 5%;
}
.asistencia{
  position: relative;
  color: aliceblue;
}
.textocaravana{
  z-index: 2;
  position: absolute;
  top: 38px;
  font-size: 1.3em;
  padding-top: 100px;
  padding-left: 20px;
  font-size-adjust: initial;
  text-align: left;
  color: aliceblue;
  padding-right: 650px;
}

</style>
