<template>
<section>
  <div class="row">
  <div class="col-md-3"> </div>
  <div class="col-md-6">
  <div data-type="countdown" data-id="1721751" class="tickcounter" style="width: 100%; position: relative; padding-bottom: 25%"><a href="//www.tickcounter.com/countdown/1721751/cuan" title="cuan">cuan</a><a href="//www.tickcounter.com/" title="Countdown">Countdown</a></div><script>(function(d, s, id) { var js, pjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//www.tickcounter.com/static/js/loader.js"; pjs.parentNode.insertBefore(js, pjs); }(document, "script", "tickcounter-sdk"));</script>
</div>
<div class="col-md-3"></div>
</div>
</section>
</template>

<style>
.tickcounter{
  opacity:20%;
  margin-bottom: 60px;
}
</style>
