<template>
<b-container>
<section id="dress" class="sectionsize">
    <div class="row">
      <div class="col-md-5 textovestido">
        <h3>DRESS CODE</h3>
        <p> <br>La temática de la boda es estilo Mediterráneo. Así que te esperamos con el mejor traje que contraste a la perfección con el mar, el campo y el atardecer.<br>
        En los siguientes enlaces encontrarás ideas para ELLAS <a href="https://www.youtube.com/watch?v=kuzL2W2iZBc">(1)</a><a href="https://www.youtube.com/watch?v=hZ09GSG3cLs">(2)</a> y para ELLOS <a href="https://www.youtube.com/watch?v=meRYZl6mfX4">(1)</a><a href="https://www.youtube.com/watch?v=PN6nQ3dmtco">(2)</a> <br> Y acuérdate de que hay piscina en la finca!! <br>Sorpréndenos!!</p>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-6"><img width=100% src="../static/vestidos.jpg"  alt=""></div>
    </div>
</section>
</b-container>
</template>

<style>

.textovestido{
  font-size: 1.3em;
  text-align: center;
  padding-top: 20px;
  background-color: rgba(227, 219, 178, 0.316);
  font-size-adjust: initial;
}
.sectionsize{
  margin-top: 60px;
}
</style>
