<template>
<footer class="foot">FATCAT DESIGN (Lucia Struth) 2020
</footer>
</template>

<style>
.foot{
  text-align: center;
  font-style: italic;
  font-size: 15px;
  color: grey;
  border-top-color: blue;
  text-decoration-line: underline;
}

</style>
