<template>
<div class="col-md-6" id="formAsis">
  <h3>Formulario de Asistencia</h3>
              <b-form @submit="onSubmit" @reset="onReset" v-if="show">
                <b-form-group
                  id="input-group-1"
                  label="Email:"
                  label-for="input-1"
                  description="No compartiremos tu email con nadie más."
                >
                  <b-form-input
                    id="input-1"
                    v-model="form.email"
                    type="email"
                    required
                    placeholder="Introduce tu email"
                  ></b-form-input>
                </b-form-group>

                <b-form-group id="input-group-2" label="Tu Nombre:" label-for="input-2">
                  <b-form-input
                    id="input-2"
                    v-model="form.name"
                    required
                    placeholder="Introduce tu Nombre"
                  ></b-form-input>
                </b-form-group>

                <b-form-group id="input-group-3" label="¿Alergias?" label-for="input-3">
                  <b-form-select
                    id="input-3"
                    v-model="form.food"
                    :options="foods"
                    required
                  ></b-form-select>
                </b-form-group>

                <b-form-group id="input-group-4">
                  <b-form-checkbox-group v-model="form.checked" id="checkboxes-4">
                    <b-form-checkbox value="me">Vengo solo</b-form-checkbox>
                    <b-form-checkbox value="that">Vengo acompañado</b-form-checkbox>
                  </b-form-checkbox-group>
                </b-form-group>

                <b-button type="submit" variant="primary">Enviar</b-button>
                <b-button type="reset" variant="danger">Resetea</b-button>
              </b-form>
              <!-- <b-card class="mt-3" header="Form Data Result">
                <pre class="m-0">{{form}}</pre>
              </b-card> -->
        </div>
</template>

<script>
export default {
  data () {
    return {
      form: {
        email: '',
        name: '',
        food: null,
        checked: []
      },
      foods: [{ text: 'Selecciona', value: null }, 'Lactosa', 'Gluten Fraid', 'Tomates con Atún', 'Chocolate', 'Shhhugar'],
      show: true
    }
  },
  methods: {
    onSubmit (evt) {
      evt.preventDefault()
      alert(JSON.stringify(this.form))
    },
    onReset (evt) {
      evt.preventDefault()
      // Reset our form values
      this.form.email = ''
      this.form.name = ''
      this.form.food = null
      this.form.checked = []
      // Trick to reset/clear native browser form validation state
      this.show = false
      this.$nextTick(() => {
        this.show = true
      })
    }
  }
}
</script>

<style>
#formAsis{
padding-top: 100px;
}
</style>
