<template>
    <div class="row_header">
        <div class="col-xs-4" ></div>
        <div class="col-xs-4" align="center"><img src="../static/logoCp.png" alt="" class="portada"></div>
    </div>
</template>

<style>

.portada{
  opacity: 90%;
  background-size: cover;
  z-index: 1;
  padding-bottom: 30px;
  };
</style>
