<template>
    <div class="col-md-6" id="mapa">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11936.393259636296!2d2.477637!3d41.5887558!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x5d6853555c82ecb1!2sVilla%20Valentina!5e0!3m2!1ses!2ses!4v1579885872531!5m2!1ses!2ses" width="100%" height="450" frameborder="0" style="border:0;"></iframe>
      </div>
</template>

<style>
iframe{
  padding-top: 100px;
  padding-left: 0px;
}
</style>
