<template>
    <div>
    <b-nav align="center" >
      <b-nav-item active class="navlabels" align="center"></b-nav-item>
      <b-nav-item class="navlabels" href="#nosotross">CEREMONIA</b-nav-item>
      <b-nav-item class="navlabels" href="#regalos">REGALO</b-nav-item>
      <b-nav-item class="navlabels" href="#dress"> DRESS CODE</b-nav-item>
      <b-nav-item class="navlabels" href="#asistencias">ASISTENCIA</b-nav-item>
      <b-nav-item disabled class="navlabels">Comparte tus fotografías!!</b-nav-item>
    </b-nav>
  </div>
</template>

<style>
.navlabels{
 font-size: 1.2em;
 text-decoration: none;
}

</style>
