<template>
<section b-container>
  <div class="portada">
    <img width=100% src="../static/noscasamos.png" alt="very cool">
  </div>
</section>
</template>

<style>
.portada{
  opacity: 90%;
  background-size: cover;
  z-index: 1;
  padding-bottom: 30px;
  };
</style>
