<template>
<b-container>
<section id="nosotross" class="nosotros">
      <p class="col-md-6 texto">Estamos muy contentos de que nos podáis acompañar en este día tan especial. Estamos seguros de que será un día inolvidable y que lo recordaremos con alegría, emoción y felicidad. En esta página web queremos proporcionaros toda la información posible acerca de nuestra boda. Si tenéis alguna pregunta, no dudéis en contactar con nosotros a través de la web (formulario de contacto) o mediante teléfono. <br> Un abrazo!! <br>Carlota y Pablo </p>
</section>
</b-container>
</template>

<style>
.nosotros{
  background-image: url(../static/cactus.jpg);
  background-size:cover;
  height: 450px;
  opacity: 80%;
}
.texto{
  padding-left: 60px;
  text-align: justify;
  font-size-adjust: initial;
  font-family: 'Indie Flower', cursive;
  font-size: 1.4em;
  font-size-adjust: initial;
  padding-top: 20px;
  size: 100%;
  }

</style>
