<template>
<b-container>
<section id="regalos" class="sectionsize">
    <div class="row">
      <div class="col-md-6"><img width=100% src="../static/templo.jpg"  alt=""></div>
      <div class="col-md-1"></div>
      <div class="col-md-5 textojapon">
        <h3>REGALO</h3>
        <p> <br>¡Ayúdanos a sumar kms a nuestro viaje a Japón! El mejor regalo es vuestra presencia, pero si aún así queréis hacernos un pequeño obsequio, qué mejor que ayudarnos a crear un recuerdo inolvidable, el viaje a Japón que tanto deseamos.</p>
      </div>
      </div>
</section>
</b-container>
</template>

<style>

.textojapon{
  font-size: 1.3em;
  text-align: center;
  padding-top: 20px;
  background-color: rgba(227, 219, 178, 0.316);
  font-size-adjust: initial;
}

.fotojapon{
  background-image: url(../static/pincel.jpg);
  background-size: cover;
  border-radius: 5%;
}
.sectionsize{
  margin-top: 60px;
}
</style>
