<template>
<div class="mainbackground" >

<header fixed>
    <HeadLogo />
    <NavBar />
</header>

<body>
  <portadaFoto />
  <Countdown />
  <presentacion />
  <regalo />
  <dressCode />
  <asistCaravan />
  <b-container id="formulario">
    <div class="row">
       <formAsistencia />
       <mapa />
    </div>
  </b-container>
  <h2> s</h2>
</body>

<footEnd />

</div>
</template>

<script>
import formAsistencia from '../components/formAsistencia'
import NavBar from '../components/NavBar'
import HeadLogo from '../components/HeadLogo'
import portadaFoto from '../components/portadaFoto'
import Countdown from '../components/Countdown'
import presentacion from '../components/presentacion'
import regalo from '../components/Regalo'
import dressCode from '../components/dressCode'
import asistCaravan from '../components/asistCaravan'
import mapa from '../components/mapa'
import footEnd from '../components/footEnd'

export default {

  components: {
    formAsistencia,
    NavBar,
    HeadLogo,
    portadaFoto,
    Countdown,
    presentacion,
    regalo,
    dressCode,
    asistCaravan,
    mapa,
    footEnd
  }
}
</script>

<style>
  @import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');
  @import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');
  @import url('http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js');
</style>

<style scoped>
a:link{
  color: tan;
}
a:hover{
  color: dimgray;
}

h2{
  color: white;
}
h2{
  opacity: 80%;
}
header{
  padding-bottom: 20px;
  margin: 0%;
  height: 50%;
  }

.mainbackground{
  background-color:white;
  overflow-y: scroll;
}

</style>
